.welcome {
    font-size: 13px;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;
}

.welcome strong {
    font-weight: bold;
}

.scroll {
    overflow-y: auto;
    font-size: 13px;
}

h1 {
    font-size: 15px;
    margin-bottom: 15px;
}

table.setup th {
	background-color: #efefef;
	text-align: left;
	padding: 2px;
	font-size: 13px;
}

table.setup .hr {
	font-size: 4px;
}

table.setup td {
	text-align: center;
	padding: 2px;
	font-size: 13px;
}

table.setup td.left {
	text-align: left;
}

.error {
	background-color:red; 
	color: white;
	width: 80px;
	text-align: center;
	margin-bottom: 1px;
	display: block;
	float: right;
	cursor: default;
}

.ok {
	background-color:#33FF66; 
	color: white;
	width: 80px;
	display: block;
	float: right;
	text-align: center;
	margin-bottom: 1px;
	cursor: default;
}

.warning {
	background-color:FF9900; 
	color: white; 
	width: 80px;
	text-align: center;
	margin-bottom: 1px;
	display: block;
	float: right;
	cursor: default;
}
