#launching {
    background-color: $base-color;
    background-image: url('images/lock1.jpg');
    background-size: cover;
    background-repeat: repeat;   
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#splash {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    font-family:Arial;
    font-size:64px;
    text-align:center;
}

.inner-circle {
    background-image: url(images/cmslogo.png);
    background-size: cover;
    background-position: center;
    background-color: #fff;

    border-radius: 50px;
    
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    position: relative;
}