#launching {
    background-color: $base-color;
    background-image: url('images/lock1.jpg');
    background-size: cover;
    background-repeat: repeat;   
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#splash {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    font-family:Arial;
    font-size:64px;
    text-align:center;
}

.inner-circle {
    background-image: url(images/cmslogo.png);
    background-size: cover;
    background-position: center;
    background-color: #fff;

    border-radius: 50px;
    
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    position: relative;
}

.images-view {
	font: 11px Arial, Helvetica, sans-serif;
	overflow: auto;
}

.images-view .thumb-wrap{
	float: left;
	margin: 4px;
	margin-right: 0;
	padding: 5px;
	width: 190px;
	height: 205px;
	text-align: center;
}

.images-view .thumb{
	background: #dddddd;
	padding: 3px;
	height: 155px;
}

.images-view .thumb td{
	text-align: center;
}

.images-view .thumb-wrap span{
	display: block;
	overflow: hidden;
	text-align: center;
	width: 170px;
}

.images-view .x-view-over {
    border:1px solid #dddddd;
    background: #efefef;
	padding: 4px;
	height: 205px;
}

.images-view .x-item-selected {
	background: #eff5fb url(images/selected.gif) no-repeat right bottom;
	border:1px solid #99bbe8;
	padding: 4px;
	height: 205px;
}

.images-view .x-view-selected .thumb {
	background:transparent;
}