[mysqld]
lc-messages     = en_US
skip-external-locking
character-set-server=utf8
collation-server=utf8_unicode_ci

sql-mode=''

max_allowed_packet=64M

innodb_file_per_table
innodb_flush_log_at_trx_commit=2
innodb_flush_method=O_DIRECT
transaction-isolation=READ-COMMITTED
innodb_buffer_pool_size=256M
innodb_strict_mode=0
