.headerview { 
  font-size: 18px;
  color: black;
  background-color:$light-color;
  
  .x-btn-icon-el-toolbutton-toolbar-small,
  .x-btn-inner-toolbutton-toolbar-small {
    font-size: 16px;
    color: black;
  }
}

.app-header-title {
    background:url(images/cmslogo_small.gif) no-repeat left center;
    padding: 0 25px 0 25px;
    font-weight: bold;
}
