{# стандартная foundation-верстка #}
{% block html %}
	<ul class="breadcrumbs">
	{% for c in widget.items %}

		<li{% if loop.last %} class="current"{% endif %}>
			<a href="{% if c.url is defined %}{{ c.url }}{% endif %}">{{ c.name|striptags }}</a>
		</li>

	{% endfor %}	
	</ul>
{% endblock %}